@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@200;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Geologica", sans-serif;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin: 5px;
}

header nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

header nav a {
  text-decoration: none;
}

header svg {
  width: 25px;
}

header img {
  width: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
